{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="padding-15">
        <div class="login-box">
            <div class="alert alert-default noradius">
                {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
            </div>
            <hr />
            <!-- /login form -->
        </div>
    </div>
{% endblock %}
